.gallery-container {
  width: calc(66.6666% - 15px);
}

ul.gallery-images {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  height: 80vh;
  overflow-y: scroll;
}

.gallery-images li {
  padding-left: 12px;
  padding-bottom: 24px;
  width: 100%;
}

img.gallery-image {
  align: top;
  width: 100%;
}

@media (max-width: 750px) {
  .gallery-container {
    width: 100%;
  }

  .gallery-images li {
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
  }
  
  img.gallery-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
}
