html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 112.5%;
}

@media (min-width: 768px) {
  body {
    padding-left: 50px;
    padding-right: 50px;
  }
}
