html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 112.5%;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px;
}

a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: black;
}

@media (min-width: 768px) {
  body {
    padding-left: 50px;
    padding-right: 50px;
  }
}
