.one-project {
  padding-top: 65px;
  padding-bottom: 9px;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.proj-description {
  width: calc(33.3333% - 15px);
  padding-right: 12px;
  padding-bottom: 24px;
}

.one-project .title,
.one-project .subtitle,
.one-project .long-description {
  font-size: 1em;
  font-family: 'Merriweather', serif;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin-bottom: 6px;
}

.one-project .title {
  font-weight: 900;
}

.one-project .subtitle,
.one-project .long-description {
  font-weight: 400;
}

.one-project .long-description {
  font-size: 0.83em;
  line-height: 1.6;
  font-weight: 300;
}

@media (max-width: 750px) {
  .proj-description {
    width: 100%;
    padding-bottom: 24px;
  }
  .one-project {
    padding-top: 25px;
  }
}
