.one-project {
  padding-top: 25px;
  padding-bottom: 9px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.one-project .title,
.one-project .subtitle,
.one-project .long-description {
  font-size: 1em;
  font-family: 'Merriweather', serif;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin-bottom: 3px;
}

.one-project .title {
  font-weight: 900;
}

.one-project .subtitle,
.one-project .long-description {
  font-weight: 400;
}

.one-project .long-description {
  /*font-style: italic;*/
  font-size: 0.83em;
  line-height: 1.6;
  color: rgb(86,85,85);
}
