ul.projects-nav {
  display: flex;
  flex-direction: row;
}

ul.projects-nav li {
  display: inline-block;
}

.projects-nav a {
  display: none;
  text-decoration: none;
  color: black;
}

.projects-nav a:hover,
.projects-nav a:visited {
  color: black;
}

.projects-nav a.active,
.projects-nav a.index-link,
.projects-nav a.projects-link {
  display: inline-block;
}

.projects-nav a.projects-link,
ul.projects-nav a.active {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-left: 1px solid black;
}

.projects-nav a.projects-link,
.projects-nav a.one-project-link {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.17em;
}

.projects-nav a.one-project-link {
  font-style: italic;
}

.projects-nav a.index-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  padding-right: 14px;
  font-size: 0.89em;
}

@media (max-width: 750px) {
  .projects-nav a.index-link {
    font-size: 0.623em;
    padding-right: 9px;
    margin-top: 11px;
    white-space: nowrap;
  }

  .projects-nav a.projects-link,
  .projects-nav a.one-project-link {
    font-size: 0.819em;
  }

  .projects-nav a.projects-link,
  ul.projects-nav a.active {
    padding-left: 9px;
    padding-right: 9px;
  }

}
