.splash-page {
  padding-top: 4em;
  padding-right: 15px;
  padding-left: 15px;
}

.splash-page h1 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1.1em;
}

.splash-page h1::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 0.95em;
  top: 0;
  left: 0;
  height: 1px;
  width: 0.7em;
  border-bottom: 9px solid rgb(255,0,255);
}


.intro-text {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.167em;
  text-align: center;
}

@media (max-width: 420px) {
  .splash-page {
    margin-top: 0em;
  }
}

@media (min-width: 768px) {
  .splash-text-wrapper {
    max-width: 45%;
    margin: 0 auto;
  }
}
