.splash-page-nav ul {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.667em;
  list-style-type: none;
  text-align: center;
  margin-top: 4em;
}

.splash-page-nav li {
  display: inline;
  margin-right: 2.44em;
}

.splash-page-nav li:last-of-type {
  margin-right: 0;
}

.splash-page-nav li a {
  text-decoration: none;
  color: black;
}

.zapf_arrow {
  font-family: 'ZapfDingbatsStd', sans-serif;
}


.splash-page-nav li a:hover {
  background-color: rgb(255, 255, 0);
  /*padding: 5px;*/
}

@media (max-width: 750px) {
  .splash-page-nav ul {
    white-space: nowrap;
  }

  .splash-page-nav li {
    margin-right: 1.44em;
  }
}

@media (max-width: 570px) {
  .splash-page-nav ul {
    font-size: 0.5em;
  }
}
