.splash-page {

}

.splash-page h1 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}

.intro-text {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.167em;
  text-align: center;
}

@media (min-width: 768px) {
  .splash-text-wrapper {
    max-width: 45%;
    margin: 0 auto;
  }
}
